In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

 Read pertinent rows only from excel file into a dataframe

In [3]:
fleet_df = pd.read_excel("table_01_33_102020.xlsx",index_col=0, skiprows=[0,2,5],nrows=5)

Examine the dataframe

In [4]:
fleet_df.head()

,1972,1975,1980,1985,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Percent available for servicea,U,87.0,83.0,93.0,84,86,83.0,84.0,85.0,88.0,...,85.5,84.2,83.7,80.3,82.5,82.0,U,U,U,U
Average age (years)b,22.3,14.4,7.4,7.0,12,13,13.0,13.2,13.4,13.9,...,19.1,20.0,21.0,21.9,21.5,21.1,20.3,19.3,19.9,18.3
Percent available for servicea,U,82.0,77.0,90.0,90,92,90.0,89.0,88.0,90.0,...,88.5,87.7,88.7,89.1,89.1,88.8,U,U,U,U
Average age (years)b,22,24.7,14.3,14.2,20,21,21.5,22.6,22.4,21.8,...,25.6,26.5,27.7,28.6,29.6,30.7,31.3,30.6,31.3,32.7

Transpose the dataframe to make rows and columns meaningful

In [5]:
fleet_df = fleet_df.T

In [6]:
fleet_df.head()

,Percent available for servicea,Average age (years)b,Percent available for servicea,Average age (years)b
1972,U,22.3,U,22
1975,87,14.4,82,24.7
1980,83,7.4,77,14.3
1985,93,7,90,14.2
1990,84,12,90,20

Rename columns to all lowercase and no spaces and index name to "year"

In [7]:
fleet_cols = ['loco_prcnt_available', 'loco_avg_age', 'amtk_prcnt_available', 'amtk_avg_age']
fleet_df.columns = fleet_cols

In [8]:
fleet_df.index.name = 'year'

In [9]:
fleet_df.head()

     loco_prcnt_available loco_avg_age amtk_prcnt_available amtk_avg_age
year
1972                    U         22.3                    U           22
1975                   87         14.4                   82         24.7
1980                   83          7.4                   77         14.3
1985                   93            7                   90         14.2
1990                   84           12                   90           20

In [10]:
fleet_df.index

Int64Index([1972, 1975, 1980, 1985, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
            1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
            2019],
           dtype='int64', name='year')

In [11]:
fleet_df.shape

(34, 4)

In [12]:
fleet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 1972 to 2019
Data columns (total 4 columns):
loco_prcnt_available    34 non-null object
loco_avg_age            34 non-null object
amtk_prcnt_available    34 non-null object
amtk_avg_age            34 non-null object
dtypes: object(4)
memory usage: 2.6+ KB

Convert dtypes from object to numeric types

In [13]:
fleet_df = fleet_df.apply(pd.to_numeric, errors='coerce')

In [14]:
fleet_df.isna().sum()

loco_prcnt_available    7
loco_avg_age            0
amtk_prcnt_available    7
amtk_avg_age            0
dtype: int64

In [15]:
fleet_df.head()

      loco_prcnt_available  loco_avg_age  amtk_prcnt_available  amtk_avg_age
year
1972                   NaN          22.3                   NaN          22.0
1975                  87.0          14.4                  82.0          24.7
1980                  83.0           7.4                  77.0          14.3
1985                  93.0           7.0                  90.0          14.2
1990                  84.0          12.0                  90.0          20.0

Install missingpy library. The goal is to impute missing values with meaningful values. MissForest imputation based on Random Forest algorithm does not require extensive data preparation or tuning.

In [16]:
!pip install missingpy

Requirement already satisfied: missingpy in c:\anaconda3\lib\site-packages (0.2.0)

In [17]:
from missingpy import MissForest

In [18]:
imputer = MissForest()

In [19]:
X = fleet_df.copy()

In [20]:
X_imputed = imputer.fit_transform(X)

Iteration: 0
Iteration: 1
Iteration: 2

In [21]:
X_imputed

array([[82.834, 22.3  , 86.737, 22.   ],
       [87.   , 14.4  , 82.   , 24.7  ],
       [83.   ,  7.4  , 77.   , 14.3  ],
       [93.   ,  7.   , 90.   , 14.2  ],
       [84.   , 12.   , 90.   , 20.   ],
       [86.   , 13.   , 92.   , 21.   ],
       [83.   , 13.   , 90.   , 21.5  ],
       [84.   , 13.2  , 89.   , 22.6  ],
       [85.   , 13.4  , 88.   , 22.4  ],
       [88.   , 13.9  , 90.   , 21.8  ],
       [88.   , 14.4  , 90.   , 20.7  ],
       [88.   , 12.   , 91.   , 19.8  ],
       [88.   , 12.6  , 93.   , 21.1  ],
       [90.   , 12.8  , 91.   , 22.2  ],
       [89.   , 11.2  , 91.   , 19.4  ],
       [83.982, 13.9  , 88.755, 18.5  ],
       [83.601, 13.6  , 89.046, 18.7  ],
       [83.   , 14.8  , 87.2  , 19.3  ],
       [81.5  , 15.7  , 83.9  , 20.5  ],
       [83.4  , 16.5  , 84.4  , 21.5  ],
       [84.8  , 17.5  , 85.1  , 22.5  ],
       [86.3  , 18.6  , 85.9  , 23.5  ],
       [85.4  , 19.6  , 86.3  , 24.5  ],
       [84.9  , 20.6  , 87.2  , 25.5  ],
       [85.5  , 19.1  , 88.5  , 25.6  ],
       [84.2  , 20.   , 87.7  , 26.5  ],
       [83.7  , 21.   , 88.7  , 27.7  ],
       [80.3  , 21.9  , 89.1  , 28.6  ],
       [82.5  , 21.5  , 89.1  , 29.6  ],
       [82.   , 21.1  , 88.8  , 30.7  ],
       [83.5  , 20.3  , 88.462, 31.3  ],
       [83.786, 19.3  , 88.209, 30.6  ],
       [83.659, 19.9  , 88.465, 31.3  ],
       [83.874, 18.3  , 87.879, 32.7  ]])

In [22]:
fleet_df2 = pd.DataFrame(X_imputed,columns=fleet_cols, index=fleet_df.index)

In [23]:
fleet_df2

      loco_prcnt_available  loco_avg_age  amtk_prcnt_available  amtk_avg_age
year
1972                82.834          22.3                86.737          22.0
1975                87.000          14.4                82.000          24.7
1980                83.000           7.4                77.000          14.3
1985                93.000           7.0                90.000          14.2
1990                84.000          12.0                90.000          20.0
1991                86.000          13.0                92.000          21.0
1992                83.000          13.0                90.000          21.5
1993                84.000          13.2                89.000          22.6
1994                85.000          13.4                88.000          22.4
1995                88.000          13.9                90.000          21.8
1996                88.000          14.4                90.000          20.7
1997                88.000          12.0                91.000          19.8
1998                88.000          12.6                93.000          21.1
1999                90.000          12.8                91.000          22.2
2000                89.000          11.2                91.000          19.4
2001                83.982          13.9                88.755          18.5
2002                83.601          13.6                89.046          18.7
2003                83.000          14.8                87.200          19.3
2004                81.500          15.7                83.900          20.5
2005                83.400          16.5                84.400          21.5
2006                84.800          17.5                85.100          22.5
2007                86.300          18.6                85.900          23.5
2008                85.400          19.6                86.300          24.5
2009                84.900          20.6                87.200          25.5
2010                85.500          19.1                88.500          25.6
2011                84.200          20.0                87.700          26.5
2012                83.700          21.0                88.700          27.7
2013                80.300          21.9                89.100          28.6
2014                82.500          21.5                89.100          29.6
2015                82.000          21.1                88.800          30.7
2016                83.500          20.3                88.462          31.3
2017                83.786          19.3                88.209          30.6
2018                83.659          19.9                88.465          31.3
2019                83.874          18.3                87.879          32.7

Scale the column values down using a standar scaler so that the percentage values and the average age are ready for modeling.